a {
    color: #CC0000
}

a:hover {
    color: rgb(255, 129, 129)
}

#title {
    font-family: Helvetica;
    font-weight: 200;
}

img {
    width: 200px;
    height: 200px;
    padding-top: 30px;
}
.main {
    text-align: center;
    width: 400px;
    margin: auto;
}

#ul_main {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    border: 4px solid #CC0000
}

.header ul {
    margin: 0;
    list-style-type: none;
    padding-bottom: 10px;
    text-align: center;
}

.header li {
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
}

.leftpanel {
    background-color: #CC0000;
}

.footer {
    background-color: #CC0000;
}